<%- include('./layout.html') -%>
<div class="ui massive breadcrumb">
  <a class="section" href="/">主页</a>
  <span class="divider">/</span>
  <a class="section" href="/">2 蒙特卡洛算法</a>
  <span class="divider">/</span>
  <div class="active section">2.1 求解圆周率</div>
</div>

<h2 class="ui header">
  <div class="content">求解圆周率</div>
</h2>

<h3>参考资料</h3>
<div class="ui bulleted list">
  <div class="item">
    <a href="https://www.zhihu.com/question/20254139">蒙特卡罗算法是什么？ | 知乎</a>
  </div>
</div>

<div class="ui buttons">
  <a href="/1-2" class="ui blue button">PREV：百人分钱 | 允许负债</a>
  <div class="or"></div>
  <a href="/3-1" class="ui positive button">NEXT：选择排序</a>
</div>

<h4 class="ui horizontal divider header">
  <i class="bar chart icon"></i>
  Experiment
</h4>
<div class="ui statistics">
  <div class="statistic">
    <div class="label">
      PI
    </div>
    <div id="pi" class="value">
      0
    </div>
  </div>
  <div class="statistic">
    <div class="label">
      Count
    </div>
    <div id="count" class="value">
      0
    </div>
  </div>
</div>

<div>
  <canvas id="canvas"></canvas>
</div>
<script src="javascripts/02-01-Get-PI-with-Monte-Carlo/bundle.js"></script>
<%- include('./footer.html') -%>