<%- include('./layout.html') -%>
<div class="ui massive breadcrumb">
  <a class="section" href="/">主页</a>
  <span class="divider">/</span>
  <a class="section" href="/">3 排序算法</a>
  <span class="divider">/</span>
  <div class="active section">3.2 插入排序</div>
</div>

<h2 class="ui header">
  <div class="content">插入排序 Insertion Sort</div>
</h2>

<div class="ui buttons">
  <a href="/3-1" class="ui blue button">PREV：选择排序</a>
  <div class="or"></div>
  <a href="/3-3" class="ui positive button">NEXT：插入排序 | 近乎有序</a>
</div>

<p>插入排序的基本操作就是将一个数据插入到已经排好序的有序数据中，从而得到一个新的、个数加一的有序数据，算法适用于少量数据的排序，时间复杂度为O(n^2)。是稳定的排序方法。</p>

<h4 class="ui horizontal divider header">
  <i class="bar chart icon"></i>
  Experiment
</h4>

<div>
  <canvas id="canvas"></canvas>
</div>
<script src="javascripts/03-02-Insertion-Sort-Visualization/bundle.js"></script>
<%- include('./footer.html') -%>