<%- include('./layout.html') -%>
<div class="ui massive breadcrumb">
  <a class="section" href="/">主页</a>
  <span class="divider">/</span>
  <a class="section" href="/">3 排序算法</a>
  <span class="divider">/</span>
  <div class="active section">3.5 归并排序 | 自底向上</div>
</div>

<h2 class="ui header">
  <div class="content">归并排序 | 自底向上 Merge Sort BU</div>
</h2>

<p>归并排序是建立在归并操作上的一种有效的排序算法,该算法是采用分治法（Divide and Conquer）的一个非常典型的应用。将已有序的子序列合并，得到完全有序的序列；即先使每个子序列有序，再使子序列段间有序。若将两个有序表合并成一个有序表，称为二路归并。是稳定的排序算法，时间复杂度为O(nlogn)，效率仅次于快速排序。</p>

<div class="ui buttons">
  <a href="/3-4" class="ui blue button">PREV：归并排序 | 自顶向下</a>
  <div class="or"></div>
  <a href="/3-6" class="ui positive button">NEXT：快速排序</a>
</div>

<h4 class="ui horizontal divider header">
  <i class="bar chart icon"></i>
  Experiment
</h4>

<div>
  <canvas id="canvas"></canvas>
</div>
<script src="javascripts/03-05-Merge-Sort-BU-Visualization/bundle.js"></script>
<%- include('./footer.html') -%>