<%- include('./layout.html') -%>
<div class="ui massive breadcrumb">
  <a class="section" href="/">主页</a>
  <span class="divider">/</span>
  <a class="section" href="/">3 排序算法</a>
  <span class="divider">/</span>
  <div class="active section">3.2 插入排序</div>
</div>

<h2 class="ui header">
  <div class="content">插入排序 Insertion Sort</div>
</h2>

<div class="ui buttons">
  <a href="/3-1" class="ui blue button">PREV：选择排序</a>
  <div class="or"></div>
  <a href="/" class="ui positive button">NEXT：</a>
</div>

<h4 class="ui horizontal divider header">
  <i class="bar chart icon"></i>
  Experiment
</h4>

<div>
  <canvas id="canvas"></canvas>
</div>
<script src="javascripts/03-02-Insertion-Sort-Visualization/bundle.js"></script>
<%- include('./footer.html') -%>