<%- include('./layout.html') -%>
<div class="ui massive breadcrumb">
  <a class="section" href="/">主页</a>
  <span class="divider">/</span>
  <a class="section" href="/">3 排序算法</a>
  <span class="divider">/</span>
  <div class="active section">3.4 归并排序 | 自顶向下</div>
</div>

<h2 class="ui header">
  <div class="content">归并排序 | 自顶向下 Merge Sort TD</div>
</h2>

<div class="ui buttons">
  <a href="/3-3" class="ui blue button">PREV：插入排序 | 近乎有序</a>
  <div class="or"></div>
  <a href="/3-5" class="ui positive button">NEXT：归并排序 | 自底向上</a>
</div>

<h4 class="ui horizontal divider header">
  <i class="bar chart icon"></i>
  Experiment
</h4>

<div>
  <canvas id="canvas"></canvas>
</div>
<script src="javascripts/03-04-Merge-Sort-TD-Visualization/bundle.js"></script>
<%- include('./footer.html') -%>