<%- include('./layout.html') -%>
<div class="ui massive breadcrumb">
  <a class="section" href="/">主页</a>
  <span class="divider">/</span>
  <a class="section" href="/">3 排序算法</a>
  <span class="divider">/</span>
  <div class="active section">3.5 归并排序 | 自底向上</div>
</div>

<h2 class="ui header">
  <div class="content">归并排序 | 自底向上 Merge Sort BU</div>
</h2>

<div class="ui buttons">
  <a href="/3-4" class="ui blue button">PREV：归并排序 | 自底向上</a>
  <div class="or"></div>
  <a href="/" class="ui positive button">NEXT：</a>
</div>

<h4 class="ui horizontal divider header">
  <i class="bar chart icon"></i>
  Experiment
</h4>

<div>
  <canvas id="canvas"></canvas>
</div>
<script src="javascripts/03-05-Merge-Sort-BU-Visualization/bundle.js"></script>
<%- include('./footer.html') -%>