<%- include('./layout.html') -%>

<h1>Airing 的算法实验室</h1>

<div class="ui ordered list">
  <div class="item">
    百人分钱问题
    <div class="list">
      <a class="item" href="/1-1">百人分钱 | 不许负债</a>
      <a class="item" href="/1-2">百人分钱 | 可以负债</a>
    </div>
  </div>
  <div class="item">
    蒙特卡洛算法
    <div class="list">
      <a class="item" href="/2-1">求解圆周率</a>
    </div>
  </div>
  <div class="item">
    排序算法
    <div class="list">
      <a class="item" href="/3-1">选择排序 Selection Sort</a>
      <a class="item" href="/3-2">插入排序 Insertion Sort</a>
      <a class="item" href="/3-3">插入排序 | 近乎有序 Insertion Sort with Nearly Ordered Array</a>
      <a class="item" href="/3-4">归并排序 | 自顶向下 Merge Sort TD</a>
      <a class="item" href="/3-5">归并排序 | 自底向上 Merge Sort BU</a>
      <a class="item" href="/3-6">快速排序 Quick Sort</a>
      <a class="item" href="/3-7">快速排序 | 近乎有序 Quick Sort with Nearly Ordered Array</a>
      <a class="item" href="/3-8">快速排序 | 随机定点 Quick Sort with Random Pivot</a>
      <a class="item" href="/3-9">快速排序 | 完全一致 Quick Sort with Identical Array</a>
      <a class="item" href="/3-10">双路快速排序 Two Ways Quick Sort</a>
      <a class="item" href="/3-11">双路快速排序 | 完全一致 Two Ways Quick Sort with Identical Array</a>
      <a class="item" href="/3-12">三路快速排序 Three Ways Quick Sort</a>
    </div>
  </div>
</div>

<%- include('./footer.html') -%>